<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>712794258578-lgoishf6ie53n98ee234tre07n2psgis.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.712794258578-lgoishf6ie53n98ee234tre07n2psgis</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>712794258578-7a1of046msu0bdtbo30bbahc1fldtcri.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA3-meHHBZ5XevwtN68r3UobCvNs3kRhCE</string>
	<key>GCM_SENDER_ID</key>
	<string>712794258578</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vwave.app</string>
	<key>PROJECT_ID</key>
	<string>getvwaveapp</string>
	<key>STORAGE_BUCKET</key>
	<string>getvwaveapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:712794258578:ios:de36f7356320c0ed07fa4b</string>
</dict>
</plist>